@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

body {
    font-family: 'Baloo 2', 'Courier New', Courier, monospace;
}

.nav-button {
    transition: all 0.5s;
}

.nav-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.nav-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.nav-button:hover span {
    padding-right: 25px;
}

.nav-button:hover span:after {
    opacity: 1;
    right: 0;
}